
<h1><%= @patient.name%></h1>
<hr>
<% @patient.appointments.each do |appointment| %>
<br>
    <%= appointment.appointment_datetime.strftime("%B %-d, %Y at %H:%M") %>
    <br>
    <%= link_to appointment.doctor.name, appointment.doctor %>
    <hr>
<% end %>