<h1><%= @doctor.name %></h1>
<h4><%= @doctor.department %></h4>

<% @doctor.appointments.each do |appointment| %>
    <%= link_to appointment.patient.name, appointment.patient %><br>
    <%= appointment.appointment_datetime.strftime('%B %e, %Y at %H:%M') %>
    <br><br>
<% end %>